<krossr-async-content [isReady]="isReady">
    <section class="viewLevel" *ngIf="level">
        <krossr-mode-selector></krossr-mode-selector>
    
        <div tabindex="0">
            <div class="gameContainer-inner">
                <div class="top row">
                    <krossr-number-grid
                        [gameMatrix]="gameMatrix['vertical']"
                        [goalMatrix]="goalMatrix['vertical']"
                        *ngIf="level && level.decodedLayout"
                        orientation="vertical"
                        class="top-grid"
                        [ngStyle]="{'padding-right': margin}"></krossr-number-grid>
                </div>
                
                <div class="bottom row">
                    <krossr-game [gameMatrix]="gameMatrix" [gameSize]="gameSize" (check)="checkForWin()"></krossr-game>
    
                    <krossr-number-grid
                        [gameMatrix]="gameMatrix['horizontal']"
                        [goalMatrix]="goalMatrix['horizontal']"
                        *ngIf="level && level.decodedLayout"
                        orientation="horizontal"
                        class="left-grid"
                        [ngStyle]="{'padding-top': margin}">
                    </krossr-number-grid>
                </div>
            </div>
        </div>
    </section>
</krossr-async-content>

